<h4 class="m-4 text-center">Monthly Profit</h4>
<div *ngIf="!hasSoldItems">
  <app-no-items-sold></app-no-items-sold>
</div>
<div *ngIf="hasSoldItems" class="mx-4">
  <tabset #tabs>
    <tab heading="Monthly">
      <ngx-charts-bar-vertical-2d
        (window:resize)="onResize($event)"
        [scheme]="colorScheme"
        [results]="profitChartData"
        [view]="chartSize"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="true"
        [showYAxisLabel]="true"
        [xAxisLabel]="'Month'"
        [yAxisLabel]="'Profit'"
        [legendTitle]="'Years'"
        [legendPosition]="'bottom'"
        [yScaleMax]="yScaleMaxForProfit"
        [barPadding]="4"
        [groupPadding]="8">
      </ngx-charts-bar-vertical-2d>
    </tab>
    <tab heading="Year to Date">
      <ngx-charts-bar-vertical-2d
        (window:resize)="onResize($event)"
        [scheme]="colorScheme"
        [results]="profitYearToDateChartData"
        [view]="chartSize"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="true"
        [showYAxisLabel]="true"
        [xAxisLabel]="'Month'"
        [yAxisLabel]="'Profit'"
        [legendTitle]="'Years'"
        [legendPosition]="'bottom'"
        [yScaleMax]="yScaleMaxForYearToDateProfit"
        [barPadding]="4"
        [groupPadding]="8">
      </ngx-charts-bar-vertical-2d>
    </tab>
  </tabset>
</div>
