<h4 class="m-4 text-center">Monthly Cash Inflow</h4>
<div class="mx-4">
  <tabset #tabs>
    <tab heading="Monthly">
      <ngx-charts-bar-vertical-2d
        [scheme]="colorScheme"
        [results]="cashInflowChartData"
        [view]="chartSize"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="true"
        [showYAxisLabel]="true"
        [yAxisLabel]="'Cash Inflow'"
        [legendTitle]="'Years'"
        [legendPosition]="'bottom'"
        [yScaleMax]="yScaleMaxForCashInflow"
        [barPadding]="4"
        [groupPadding]="8">
      </ngx-charts-bar-vertical-2d>
    </tab>
    <tab heading="Year to Date">
      <ngx-charts-bar-vertical-2d
        [scheme]="colorScheme"
        [results]="cashInflowYearToDateChartData"
        [view]="chartSize"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="true"
        [showYAxisLabel]="true"
        [yAxisLabel]="'Cash Inflow'"
        [legendTitle]="'Years'"
        [legendPosition]="'bottom'"
        [yScaleMax]="yScaleMaxForYearToDateCashInflow"
        [barPadding]="4"
        [groupPadding]="8">
      </ngx-charts-bar-vertical-2d>
    </tab>
  </tabset>
</div>
