<div class="card">
    <div class="card-header">
        <strong>Latest Items Sold</strong>
    </div>
    <ul class="list-group list-group-flush">
        <li *ngFor="let item of latestSales" class="list-group-item">
            {{ item.name }}
            <span class="badge badge-primary badge-pill float-right">{{ item.sellDate | date: 'shortDate' }}</span>
        </li>
        <li *ngIf="latestSales.length === 0"  class="list-group-item">
            No Recent Items Sold
        </li>
    </ul>
</div>
