.alert {
    margin-bottom: 0;
}

.order-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.item-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media (max-width:600px){
    .order-section {
       grid-template-columns: 1fr;
    }

    .item-section {
        grid-template-columns: 1fr;
    }
}