<h4 class="m-4 text-center">Item Sale Cashflow Breakdown</h4>
<div *ngIf="!hasSoldItems">
    <app-no-items-sold></app-no-items-sold>
</div>
<div *ngIf="hasSoldItems" class="mt-2">
    <tabset #tabs [justified]="true">
        <tab heading="All Years">
            <div class="chart-wrapper">
                <div class="pie-chart-center"> 
                    <ngx-charts-pie-chart                       
                        [scheme]="colorScheme"
                        [results]="yearData['total']"
                        [legend]="showLegend"
                        [legendTitle]="'Items'"
                        [legendPosition]="'bottom'"
                        [explodeSlices]="explodeSlices"
                        [labels]="showLabels"
                        [trimLabels]="false"
                        [doughnut]="doughnut">
                    </ngx-charts-pie-chart>
                </div>
            </div>
        </tab>
        <tab *ngFor="let year of years" [heading]="year" [active]="year === currentYear">
            <div class="chart-wrapper">
                <div class="pie-chart-center">             
                    <ngx-charts-pie-chart                        
                        [scheme]="colorScheme"
                        [results]="yearData[year]"
                        [legend]="showLegend"
                        [legendTitle]="'Items'"
                        [legendPosition]="'bottom'"
                        [explodeSlices]="explodeSlices"
                        [labels]="showLabels"
                        [trimLabels]="false"
                        [doughnut]="doughnut">
                    </ngx-charts-pie-chart>  
                </div>          
            </div>
        </tab>
    </tabset>
</div>
